/* styles.css */

/* Reset básico para eliminar márgenes y padding predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
.comic-neue-light {
    font-family: "Comic Neue", cursive;
    font-weight: 7000;
    font-style: normal;
    
}

h1 {
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 1px;
}


h3{
    color: rgb(15, 15, 17);
    font-size: 1 rem ;
    letter-spacing: 3px;
    text-align: center;
    padding: 1rem 0;
}


body {
 font-family: Arial, Helvetica, sans-serif;
 font-weight: 700;
 font-size:x-large;
 font-style: normal;
 background-color: rgb (185,179,175);
 line-height: 3;
 justify-content: center;
 display: flex;
    flex-direction: column;
    align-items:flex;
}

header {
    width: 100%;
    background: #a6cff5e0;
    border-bottom: 1px solid black;
    color: #fca504f5;
    padding: 0 rem 0; /*Agrega relleno superior e inferior del elemento*/
    text-align: center;
}

header h1 {
    text-align: center;
    flex-direction: column;
}
nav ul {
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li { 
    margin: 0 1rem;
}

nav ul li a {
    border-top: 1px solid black; 
    /*Bordes*/
    display: block;
    flex-direction: column;
    color: #fff;
    text-decoration: none;
    justify-content: center;
    padding: 0.5rem 1rem;
}

.nav-container ul li{
    border: 1px solid black; /*Bordes*/
    display: flex;
    flex-direction: column;
    background: #a6cff5e0;
    color:rgba(19, 21, 19, 0.723);
    justify-content: center;
}

.nav-container b{
    display: flex;
    flex-direction: column;
    background: #a6cff5e0;
    color:rgba(19, 21, 19, 0.723);
    justify-content: center;
}


main {
    width:100%;
    padding: 2rem;
}

section {
    margin-bottom: 0rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

/*Responsividad*/
